@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
}

.heading {
  background-color: red;
  padding: 4px 0;
  position: fixed;
  width: 100%;
  top: 0;
  display: flex;
  flex-direction: column;
  /* margin-bottom: 250px; */

  align-items: center;
  justify-content: center;
  z-index: 1;
}

h1 {
  margin-top: 5px;
  font-size: 35px;
  top: 0;
  left: 50px;
  right: 50px;
  padding: 10px;
}
p {
  background-color: red;
  font-size: 16px;
  /* display: absolute; */
  top: 0;
  /* left: 50px;
  right: 50px; */
  padding-bottom: 5px;
}

.random-data {
  /* padding: 10px; */
  /* background: #f5f5f5; */
  display: block;
  /* flex-direction: column; */
  position: absolute;
  top: 100px;
  margin-top: 10px;
}

/* .table table {
  border: 1px solid black;
} */
table {
  text-align: center;
  border: 4px solid black;
  padding: 2%;
  margin: 0.5%;
}
.table tr {
  background-color: lavender;
  /* border: 10px solid red; */
}
table th {
  color: blue;
  background-color: aqua;
  border: 2px solid rgb(255, 134, 120);
  padding: 10px;
}
table td {
  padding: 10px;
  margin: 5px none;
  color: chocolate;
  border: 1px solid blue;
}

.sticky-row {
  position: sticky;
  top: 101px;
}

.sticky-row1 {
  position: sticky;
  top: 101px;
}

.sticky-row2 {
  position: sticky;
  top: 101px;
}

/* 

div {
  border: 1px solid rgba(243, 0, 0, 0.9);
  padding: 10px 20px;
  color: black;
}
.div1 {
  /* color: red; */
/* } */
/* .parent-div {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 25;
} */
/* .table-container .table {
  border: 4px solid blue;
  width: 50%;
}
.table-container .table th{
  border: 4px solid blue;
  width: 50%;
} */

/* .trial-components {
  background: salmon;
  max-width: 90%;
} */
